# Extracted settings so both systemd timers and user can just source this when want to work on my backup.
# See https://restic.readthedocs.io/en/latest/030_preparing_a_new_repo.html

RESTIC_REPOSITORY="sftp:<ssh-hostname>:<path>"
RESTIC_PASSWORD_FILE="/etc/restic/sftp_pw.txt"

# What to backup, and what to not
BACKUP_PATHS="/ /boot /home"
[ -d /mnt/media ] && BACKUP_PATHS+=" /mnt/media"
BACKUP_EXCLUDES="--exclude-file /etc/restic/backup_exclude"
for dir in /home/*
do
	if [ -f "$dir/.backup_exclude" ]
	then
		BACKUP_EXCLUDES+=" --exclude-file $dir/.backup_exclude"
	fi
done

